{% extends "templates/base.html" %}

{% block content %}
	<p class="about"> I grew up in a small </p>
	<div class='slideshow'>
		<img src="/static/images/left.png" onclick= "prev_pic()" id="prev_button" style= "visibility: hidden;"/>
		<img src= "/static/images/1.jpg" width= "525px" id='display_photo'>
		<img src="/static/images/right.png" onclick="next_pic()" id="next_button"/>
	</div>


<!--<div id='map'></div>	
		<script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>
{% endblock %}	-->