{% extends "templates/base.html" %}
{%block class%}
	<div class="restitle">
{%endblock%}
{% block content %}
<div id= "resume">
	<h2 id= "myres">My Resume</h2>
	<div id= "all">
		<h3>Education</h3>
		<ul id="educ">
			<details>
			<summary>University of Michigan, Ann Arbor, MI </summary>
				<li>BS in Information, minor in Community Action and Social Change</li>
				<li>Class of 2018, Cumulative GPA: 3.66/4.00</li>
				<li>University Honors (Winter 2015, Fall 2015)</li>
				<br>
				<li>Relevant Coursework:
					<ul>
					<li>Intro to Statistics and Data Analysis</li>
					<li>Programs, Information, and People (Python Programming)</li>
					<li>Agile Web Development (HTML, CSS, and JavaScript)</li>
					</ul>
				</li>
			</details>
		</ul>
		<hr>
		<h3>Work Experience</h3>
		<ul id= "workex">
			<details>
				<summary>Brizeo Inc.(Campus Ambassador)</summary>
				<li>Promote activity-based social and travel application through social media</li>
				<li>Work with other campus ambassadors to develop marketing strategies to increase user engagement</li>
			</details>
			<details>
			<summary>University of Michigan (Research Assistant for Merideth Garcia)</summary>
				<li>Investigate High School students’ and teachers’ perceptions of digital technology inside and outside the classroom</li>
				<li>Conduct and transcribe interviews with students on their views and uses of technology</li>
				<li>Read and review articles on the topics of technology, digital learning, and education</li>
			</details>
			<details>
			<summary>Raquette Lake Girls Camp (Counselor)</summary>
				<li>Supervised and lived with 8-14 year old campers in a bunk at a 7-week overnight camp</li>
				<li>Worked with a team of other counselors to organize and teach team sports to campers ages 7 to 15</li>
			</details>
			<details>
			<summary>WayUp (Campus Ambassador)</summary>
				<li>Helped to expand user community through marketing activities on Facebook and Instagram</li>
				<li>Spoke to different organizations about the benefits of signing up for WayUp</li>
			</details>
			<details>
			<summary>Temple Emanu-El (Assistant Teacher)</summary>
				<li> Worked with head teachers to plan curriculum and activities</li>
				<li>Taught the Hebrew Alphabet to kindergarteners and first graders every Sunday for five years</li>
			</details>
		</ul>
		<hr>
		<h3>Leadership and Activities</h3>
		<ul id= "leadact">
			<details>
			<summary>Digital Media Club (Website Contributor)</summary>
				<li>Upload content to club website to be viewed by students on campus</li>
				<li>Help organize and advertise campus-to-career events that connect students with professionals in the digital field </li>
				<li>Plan and attend workshops that enhance digital literacy on campus</li>
			</details>
			<details>
			<summary>Michigan Hillel (Journalist)</summary>
				<li>Conduct interviews with members of Hillel and the community about their jobs and different life experiences</li>
				<li>Write articles for a monthly Newsletter distributed by Hillel to over 25,000 alumni and parents nationwide</li>
			</details>
			<details>
			<summary>K-Grams (Pen Pal)</summary>
				<li>Ask and answer questions in monthly letters to a pen pal who is an elementary student in an Ann Arbor school</li>
			</details>
			<details>
				<summary>Students Empowering Education (Director of Operations and SAT Tutor)</summary>
				<li>Coordinate with multiple high schools to plan tutoring sessions and operations for 30 tutors and 75 students</li>
				<li>Tutor high school students for the SAT once a week at a high school in Detroit</li>
			</details>
		</ul>
		<hr>
	</div>
	<div id= "skills">
	<h3>Skills</h3>
	<ul>
		<details>
			<summary>Proficient in:</summary>
			<li>Python</li>
			<li>HTML</li>
			<li>CSS</li>
			<li>JavaScript</li>
			<li>Spanish</li>
			<li>MS Office</li>
			<li>Photoshop</li>
			<li>WordPress</li>
			<li>Facebook</li>
			<li>Instagram</li>
			<li>Twitter</li>
		</details>
	</ul>
	<hr>
</br>
</br>
	<a href="/static/Resume.pdf"><img src= "/static/images/resume-button.png" alt= "My Resume"></a>
	</div>
{% endblock %}	