{% extends "templates/base.html" %}

{% block content %}
<h1>Resume</h1>
<div id= "Resume">
	<h3>Education</h3>
	<ul id="Educ">
		<li> University University of Michigan, Ann Arbor, MI </li>
		<li>BS in Information, minor in Community Action and Social Change</li>
		<li>Class of 2018, Cumulative GPA: 3.66/4.00</li>
		<li>University Honors (Winter 2015, Fall 2015)</li>
		<br>
		<li>Relevant Coursework:</li>
		<li>Intro to Statistics and Data Analysis</li>
		<li>Programs, Information, and People (Python Programming)</li>
		<li>Agile Web Development (HTML, CSS, and JavaScript)</li>
	</ul>
	<h3>Work Experience</h3>
	<ul id= "WorkEx">
		<li>Brizeo Inc.(Campus Ambassador)</li>
			<ul>
			<li>Promote activity-based social and travel application through social media</li>
			<li>Work with other campus ambassadors to develop marketing strategies to increase user engagement</li>
			</ul>
		<li>University of Michigan (Research Assistant for Merideth Garcia)</li>
			<ul>
			<li>Investigate High School students’ and teachers’ perceptions of digital technology inside and outside the classroom</li>
			<li>Conduct and transcribe interviews with students on their views and uses of technology</li>
			<li>Read and review articles on the topics of technology, digital learning, and education</li>



<img src= "static/family.JPG" alt= "Family Picture" width= "525px">
{% endblock %}	